.user-drop {
    position: relative;
    margin: -6px;
}

.user-drop .image {
    display: inline-block;
    padding-left: .8rem;
}

.user-drop img {
    height: auto;
    /* height: 2.1rem; */
    width: 2.1rem;
}

.user-drop .info {
    display: inline-block;
    padding: 5px 5px 5px 10px;
}

.btn-logout {
    text-decoration: none;
    border: 0;
    background: transparent;
    font-size: 15px;
    text-transform: none;
}

aside a {
    text-decoration: none;
}

thead,
#no {
    text-align: center;
}

.btn-right {
    float: right;
    justify-content: right;
    margin-left: 10px;
    font-weight: bold;
}

td a,
td button {
    color: rgb(0, 102, 255);
}

ol li a {
    text-decoration: none;
}

td img {
    width: auto;
    height: 100px;
}

.nav-treeview a {
    padding-left: 50px;
}

.p1 {
    text-align: justify;
}

.img-bulat {
    border-radius: 50%;
    object-fit: cover;
    height: 2.1rem !important;
    width: 2.1rem !important;
}