.log {
    padding: 10px 0 10px 28px;
    list-style-type: none;
    max-width: max-content;
}

div .btn-login {
    background-color: #006a5d;
    border: #006a5d solid 1px;
    border-color: transparent;
    padding: 3px 15px 3px 15px;
    color: white;
    border-radius: 50px 50px 50px 50px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
}

div .btn-login:hover {
    background-color: #004a42;
    border: #088e7e solid 1px;
    padding: 3px 15px 3px 15px;
    color: white;
    border-radius: 50px 50px 50px 50px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
}

div .btn-sign-up {
    padding: 3px 15px 3px 10px;
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
    background-color: transparent;
    border-radius: 0px 50px 50px 0px;
    border: #006a5d solid 1px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

div .btn-sign-up:hover {
    padding: 3px 15px 3px 10px;
    color: white;
    align-items: center;
    background-color: #004a42;
    border-radius: 0px 50px 50px 0px;
    border: #006a5d solid 1px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.alink {
    color: white;
}

.btn-logout {
    text-decoration: none;
    border: 0;
    background: transparent;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: bold;
    color: #006a5d;
}

.btn-logout:hover,
.btn-logout .active:hover,
.btn-logout:hover>a {
    color: var(--color-secondary);
}

.desc {
    color: black;
}

.btn-logout:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.foot {
    overflow: hidden;
}

.foot:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 10px solid #009282;
}

.poto {
    height: 300px;
    object-fit: cover;
}

.frm {
    padding-bottom: 15px;
    width: 100%;
}

.main-content {
    padding: 20px 100px 20px 100px;
}

label {
    padding-bottom: 10px;
}

.mtop {
    margin-top: -50px;
}