.log {
  padding: 10px 0 10px 28px;
  list-style-type: none;
  max-width: max-content;
}

div .btn-login {
  background-color: #006a5d;
  border: #006a5d solid 1px;
  border-color: transparent;
  padding: 3px 15px 3px 15px;
  color: white;
  border-radius: 50px 50px 50px 50px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
}

div .btn-login:hover {
  background-color: #004a42;
  border: #088e7e solid 1px;
  padding: 3px 15px 3px 15px;
  color: white;
  border-radius: 50px 50px 50px 50px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
}

div .btn-sign-up {
  padding: 3px 15px 3px 10px;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  background-color: transparent;
  border-radius: 0px 50px 50px 0px;
  border: #006a5d solid 1px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

div .btn-sign-up:hover {
  padding: 3px 15px 3px 10px;
  color: white;
  align-items: center;
  background-color: #004a42;
  border-radius: 0px 50px 50px 0px;
  border: #006a5d solid 1px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.alink {
  color: white;
}

.btn-logout {
  text-decoration: none;
  border: 0;
  background: transparent;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: bold;
  color: #006a5d;
}

.btn-logout:hover,
.btn-logout .active:hover,
.btn-logout:hover>a {
  color: var(--color-secondary);
}

.desc {
  color: black;
}

.btn-logout:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.foot {
  overflow: hidden;
}

.foot:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: middle;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 10px solid #009282;
}

.img-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.poto {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.frm {
  padding-bottom: 15px;
  width: 100%;
}

.main-content {
  padding: 20px 500px 20px 500px;
}

label {
  padding-bottom: 10px;
}

.mtop {
  margin-top: -50px;
}

/* yangga */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-left: -100px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 9s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



.foto .img {
  margin-right: 100px;

}


.p1 {
  text-align: justify;
  line-height: 1.5em;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.ex-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #00796b;
  background-color: var(--color-primary);
}

.row h6 {

  font-weight: bold;
  color: white;
}


.p1 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;

}

.p3 {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.lpp {
  border-style: dashed;
  height: 300px;
  border-color: #006459;
  margin: 0 100px 0 100px;
}

.lpp ol li {
  margin-left: 100px;
  margin-right: 100px;

}

.p4 {
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
}

.sejarah .image-container {
  position: relative;
}

.img-fluid-y {
  position: relative;
  /* left: -100px; */
  width: 500px;
  height: 350px;
}

.col h1 {
  position: relative;
  top: -15px;
  /* left: -140px; */
  text-decoration: solid;
  border-top: 2px dashed #006459;
  margin-bottom: -15px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.p1 {
  position: relative;
  top: -15px;
  /* left: -140px; */
  border-bottom: 2px dashed #006459;

}

.table1 th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #FFA800;
  background-color: #006459;
  color: #ffffff;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.martab td {
  background-color: #6379762a;
  border-style: solid;
  border-color: #e27b26;
  font-family: 'Times New Roman', Times, serif;
}

.martab tr {

  border-style: solid;
  border-color: #e27b26;
}


.q {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-bottom: 50px; */
}

.martab {
  margin: 0 100px 0 100px;
}

.dokter .fotodokter {
  display: inline-block;
  width: 250px;
  margin-bottom: 0.875rem;
  border-radius: 50%;
  margin-left: 70px;
  height: 250px;
  margin-right: -100px;
  border-style: double;
}

.dokter .fotodokter1 {
  display: inline-block;
  width: 250px;
  margin-bottom: 0.875rem;
  border-radius: 50%;

  height: 250px;

  border-style: double;
  margin-left: 70px;


}

.dokter .border {
  position: relative;
  border-style: ridge;
  padding-top: 10px;
  padding-right: 10px;
  width: 400px;
  height: 410px;
}


.dokter .border1 {
  position: relative;
  border-style: ridge;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: -1000px;
  width: 400px;
  height: 410px;
  margin-left: 150px;
  margin-right: -150px;
}

.dokter .ahli {
  font-size: small;


  margin-left: 25px;
  text-align: center;
  border-style: double;
  background-color: #00b6a1;
  margin-right: 10px;

}

.dokter .ahli1 {
  font-size: small;
  margin-left: 25px;
  text-align: center;
  border-style: double;
  background-color: #00b6a1;
  margin-right: 10px;

}

.dokter {
  border-style: double;
}

.dokter h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dokter .namadokter {
  text-align: center;
  margin-left: 20px;
  margin-right: -5px;
  font-weight: bold;
}

.dokter .namadokter1 {
  margin-left: 50px;
  font-weight: bold;
}

/* /yangga */